# Node
node_modules/
dist/
build/
.env*
*.log
.DS_Store
coverage/
.idea/
.vscode/
*.tsbuildinfo
*.tgz

# TypeScript compiled files
*.js
*.js.map
!jest.config.js
!vite.config.js
!*.config.js

# OS
Thumbs.db
