# Node
node_modules/
dist/
build/
.env*
*.log
.DS_Store
coverage/
.idea/
.vscode/
*.tsbuildinfo
*.tgz

# TypeScript compiled files
*.js
*.js.map
!jest.config.js
!vite.config.js
!*.config.js

# pnpm hoisting artifacts
packages/types/babel__*
packages/types/d3-*
packages/types/express*
packages/types/http-*
packages/types/istanbul-*
packages/types/**/
!packages/types/src/

# OS
Thumbs.db
